body {
   direction: rtl;
}

/**
 * Top Header
*/
.top-right {
    float: left;
    text-align: left;
}

.top-nav {
    float: right;
}

.top-nav ul li:first-child a {
    padding-right: 0;
}

.headertwo .top-nav .date-time {
    margin-right:0;
    margin-left: 25px;
}

.header-ad-section .widget_media_image {
    text-align: left;
}

.bottom-header .header-ad-section {
    padding-left: 0;
}

.nav-wrap .main-navigation {
    float: right;
}

.nav-wrap .nav-icon-wrap {
    float: left;
    text-align: left;
}

.headertwo .nav-wrap .sparkle-wrapper {
    padding-left: 0;
    padding-right: 20px;
}

.main-navigation .sub-menu, 
.main-navigation .children {
	left: auto;
    right: 0;
}

.main-navigation .sub-menu .sub-menu, 
.main-navigation .children .children {
    right: 100%;
    left: auto;
}

.nav-menu .sub-menu li.menu-item-has-children > .icofont, 
.nav-menu .sub-menu li.page_item_has_children > .icofont {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
}

.headertwo .nav-menu li.menu-item-has-children > .icofont, 
.headertwo .nav-menu li.page_item_has_children > .icofont {
    left: 16px;
    right: auto;
}

.headertwo .main-navigation ul li a {
    margin-right: 0;
    margin-left: 30px;
}

.search-form-wrap {
	right:auto;
    left: 0;
    text-align: right;
}

.nav-icon-wrap .search-wrap, 
.nav-icon-wrap .header-cart {
    text-align: left;
    border-right: 1px solid #e5e5e5;
    border-left: 0;
}

.headertwo .nav-icon-wrap .search-wrap, 
.headertwo .nav-icon-wrap .header-cart {
    text-align: center;
}

.news-ticker-title {
    margin-left: 20px;
    margin-right: 0;
}

.news-ticker-title::after {
    border-left: 15px solid transparent;
    left: -15px;
    right: auto;
}

.news-ticker .lSAction {
    left: 5px;
    right: auto;
}

.news-ticker .lSPrev::before {
    content: '\f105';
}

.news-ticker .lSNext:before {
    content: '\f104';
}


.banner-caption {
    right: 30px;
    left: auto;
}


.byline {
    margin-right: 15px;
    margin-left: 0;
}

.news-comment.readmore {
    float: left;
}

.emag_magazine_alternative_posts .posted-on a::before {
	left: 0;
	right: 30px;
}

.posted-on a::before {
    right: 0;
    left:auto;
}

.news-content-wrap .news-block-footer {
    text-align: right;
}

.news-comment.readmore a::before {
    content: "\f060";
    left: -10px;
    right: auto;
}

.section-title > span, 
.widget-title > span {
    padding-left: 10px;
    padding-right: 0;
}


.widget ul li::before {
    right: 0;
    left: 0;
    content: "\f100";
}

.widget ul li {
    padding-left: 0;
    padding-right: 22px;
}

.widget.widget_nav_menu ul li::before, 
.widget.widget_pages ul li::before {
    content: "\f137";
}

.footer-social-content {
    padding-right: 10px;
    padding-left: 0;
}

.bottom-footer .widget-title, .bottom-footer .section-title {
    padding-right: 15px;
    padding-left: 0;
}

.emag-timeline {
    border-right: 8px solid #F0F0F0;
    padding-right: 25px;
    border-left: 0;
}

.emag-timeline .emag-post-item:after {
    right: -39px;
    left: auto;
}

.widget ul.widget-contact-list li {
    padding-right: 55px;
    padding-left: 0;
}

.widget-contact-list .fa, .widget-contact-list .fas {
    right: 0;
    left:auto;
}

.theme-author-block {
    text-align: left;
}

.bottom-footer .widget-title, .bottom-footer .section-title {
    border-right: 5px solid #ffcb08;
    border-left: 0;
}

.large-with-small-list .news-block > figure {
    float: right;
}

.large-with-small-list .news-content {
    float: left;
    padding-right: 20px;
    padding-left: 0;
}

.news-first-large-list .large-with-small-list {
    float: right;
    margin-left: 2%;
    margin-right: 0;
}

.page-header .page-title span {
    padding-left: 10px;
    padding-right: 0;
}

.posted-on a {
    padding-right: 20px;
    padding-left: 0;
}

.sparkle-author-box .sparkle-author-image {
    float: right;
}

.sparkle-author-box .sparkle-author-details {
    float: right;
    padding-right: 30px;
    padding-left: 0;
}

.comment-navigation .nav-previous, 
.posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: right;
}

.comment-navigation .nav-next, 
.posts-navigation .nav-next, .post-navigation .nav-next {
    float: left;
    text-align: left;
}

.nav-links .nav-next a {
    padding-left: 25px;
    padding-right: 0;
}

.nav-links .nav-previous a {
    padding-right: 25px;
    padding-left: 0;
}

.nav-links .nav-previous a::before, .nav-links .nav-previous a::after {
    content: "\f054";
}

.nav-links .nav-next a::before, .nav-links .nav-next a::after {
    content: "\f053";
}

.comments-area .comment-metadata {
    right: 75px;
    left: auto;
}

.comment-author img {
    margin-left: 10px;
    margin-right: 0;
}
