#customize-controls .control-section-editorialmag .accordion-section-title:hover,
#customize-controls .control-section-editorialmag .accordion-section-title:focus {
  background-color: #fff;
}

.rtl .control-section-editorialmag .accordion-section-title .button {
  margin-left:  0;
  margin-right: 8px;
}

#accordion-section-editorialmag .accordion-section-title .button {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 18px 0;
}

#accordion-section-editorialmag .accordion-section-title:before{
    content: '';
}

#accordion-section-editorialmagdoc .accordion-section-title .button {
    float: right;
}

.customize-control-editorial-mag-upgrade-text{
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
}

.customize-control-editorial-mag-upgrade-text label{
    padding: 0 0 0 26px;
    display: block;
}

.customize-control-editorial-mag-upgrade-text .dashicons{
    float: left;
    margin-left: -26px;
}

.customize-control-editorial-mag-upgrade-text ul{
    margin: 8px 0 0 16px;
    font-style: italic;
}

.customize-control-editorial-mag-upgrade-text ul li{
    margin-bottom: 3px;
    padding-left: 8px;
    line-height: 1.3;
}

.customize-control-editorial-mag-upgrade-text ul li:before{
    content: '- ';
    margin-left: -8px;
}