.editorialmag-activation-notice {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #0085BA;
}

.editorialmag-activation-notice h1 {
    margin-bottom: 0 !important;
}

.editorialmag-activation-notice p:first-of-type {
    margin-bottom: 20px !important;
}

.ocdi__gl-item .ocdi__gl-item-button.js-ocdi-gl-import-data {
    display: none;
}

.ocdi__gl-item:first-child .ocdi__gl-item-button.js-ocdi-gl-import-data{
  display: block;
}


/**
 * Customizer Page Layout 
*/
.image label{
    position: relative;
    margin: 3% 3% 3% 0;
    display: inline-block;
    width: 46%;
}
.image input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.image img{
    display: block;
    border:2px solid #F6F6F6;
}
.image input:checked + img{
    border:2px solid #CCC;
}

/**
 * Customizer Icon Settings Area
*/
.customize-pane-parent .control-section .accordion-section-title:before{
    font-family: dashicons;
    content: "\f545";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#accordion-panel-editorialmag_general_settings .accordion-section-title:before,
#accordion-panel-editorialmag_design_options .accordion-section-title:before,
#accordion-panel-editorialmag_footer_settings .accordion-section-title:before{
    content: "\f545";
}

#accordion-panel-nav_menus .accordion-section-title:before{
    content: "\f333";
}

#accordion-section-static_front_page .accordion-section-title:before{
    content: "\f102";
}

#accordion-panel-widgets .accordion-section-title:before{
    content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before{
    content: "\f499";
}

#accordion-section-editorialmag_social_link_activate_settings .accordion-section-title:before{
    content: "\f237";
}

#accordion-section-editorialmag_author_settings .accordion-section-title:before{
    content: "\f163";
}

#accordion-panel-editorialmag_color_options .accordion-section-title:before{
    content: "\f533";
}

#accordion-section-editorialmag_header_settings .accordion-section-title:before{
    content: "\f489";
}

.customize-control-title {
  display: block;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: #0073aa;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 5px 10px 8px 15px;
  background: #FFF;
  margin: 0px -12px 4px;
  border-left: 4px solid #0073aa;
}

/**
 * Important link
*/
.implink{
  background: #0073aa;
  padding: 8px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin-top: 5px;
  line-height: 1.2;
  box-shadow: none;
  font-style: normal;
  text-decoration: none;
}
.implink:hover{
  background: #000;
}

/**
 * Select Multiple Category in Widget Area
 */
.editorialmag-multiplecat {
    height: 150px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 0 10px;
}

#widget-list [id*='_emag_'] .widget-top, 
#widget-list [id*='_emag_'] h3 {
    background: rgba(191, 191, 191, 0.4);
}

/**
 * Update CSS
*/
.radio-image-wrapper{
  float: left;
  margin-right: 30px;
}


/**
 * Customizer Upgreate pro
*/
.admin-pro-feature-list li{
 
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    padding: 10px 0px;
    line-height: 1;
}
.admin-pro-feature-list li:before{
     content: "\f345";
    font: 400 20px/1 dashicons;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    line-height: 1.5;
 
 }
.admin-pro-feature-list span{
    display: inline-block;
    width: 90%;
    line-height: 1.5;
    vertical-align: top;
}
.admin-pro-feature-list{
    margin: 0 5px;
}
.buynow{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.customize-pane-parent #accordion-section-editorialmagdoc .accordion-section-title:before {
    content: "\f330";
}

.customize-pane-parent #accordion-panel-editorialmag_general_settings .accordion-section-title:before {
    content: "\f107";
}

.customize-pane-parent #accordion-section-editorialmag_breaking_news_settings .accordion-section-title:before {
    content: "\f111";
}

.customize-pane-parent #accordion-panel-editorialmag_design_options .accordion-section-title:before {
    content: "\f167";
}

.customize-pane-parent #accordion-section-editorialmag_footer_buttom_area_settings .accordion-section-title:before {
    content: "\f460";
}