@media screen and (max-width: 1270px) {
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-prev {
		left: 0;
	}
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-next {
		right: 0;
	}
}

@media screen and (max-width: 1210px) {
	.boxed-home .site, 
	.sticky-menu {
		width: 100%;
	}
	.sparkle-wrapper {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.main-navigation ul.nav-menu li.has-mega-menu .sub-menu {
	    width: 100%;
	}
}

@media screen and (max-width: 1180px) {
	.header-bgimg .nav-wrap, 
	.header-bgimg .bottom-header, 
	.header-bgimg .top-header {
		width: 100%;
	}
	.top-nav {
		width: 55%;
	}
	.top-right {
		width: 45%;
	}
	.banner-section.two-post-slider .sparkle-wrapper, 
	.banner-section.three-post-slider .sparkle-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.three-post-slider .caption-title {
		font-size: 14px;
	}
	.three-post-slider .caption-date > a {
	    padding: 0px 5px;
	    font-size: 11px;
	}
	.three-post-slider .banner-caption .colorful-cat a {
	    font-size: 12px;
	    line-height: 20px;
	    padding: 0 5px;
	}

	.top-right .date-time {
		padding-right: 15px;
	}

	.news-comment {
	    margin-left: 0;
	}

}

@media screen and (max-width: 980px) {

	.fullwidthsection .emag_magazine_grid_posts .news-with-grid-block{
		width: 33.33%;
	}

	.header-bgimg .nav-menu li.menu-item-has-children > .icofont, 
	.header-bgimg .nav-menu li.page_item_has_children > .icofont {
	    top: 0;
	}
	.video-list-group .banner-caption {
	    bottom: 20px;
	    left: 20px;
	}

	.sticky-menu,
	.nav-wrap .main-navigation ul.sub-menu,
	.nav-wrap .main-navigation ul.children{
		display: none;
	}
	/*====================================
	MULTI POST WITH NO SLIDE
	====================================*/
	.no-slide-ban-content .caption-title {
	    font-size: 16px;
	    margin-bottom: 0;
	}
	.multi-post-no-slide .no-slide-ban-content {
	    padding: 30px 10px 10px 10px;
	}

	/*====================================
	MULTI POST WITH SLIDER
	====================================*/
	.multi-post-with-slider .slider-caption {
	    padding: 40px 10px 10px 10px;
	}
	.slider-caption .caption-title {
	    font-size: 16px;
	    margin-bottom: 0;
	}
	.multi-post-slider-large {
	    margin-bottom: 4px;
	}

	/*===================================
	TOP HEADER 
	===================================*/
	.top-nav {
	    width: 100%;
	    text-align: center;
	    float: none;
	}
	.top-nav ul li{
		text-align: left;
	}
	.top-right {
	    width: 100%;
	    text-align: center;
	    float: none;
	    margin-bottom: 10px;
	}

	.headertwo .top-nav{
		width: 100%;
		margin-bottom: 15px;
	}

	.headertwo .top-right {
	    width: 100%;
	}

	/*==================================
	BOTTOM HEADER
	==================================*/
	.nav-wrap .main-navigation {
		width: 15%;
	}
	.nav-wrap .nav-icon-wrap {
		width: 85%;
	}
	.main-navigation .toggle-button {
		display: block;
		width: 45px;
		height: 45px;
		text-align: center;
		line-height: 45px;
		background: #ddd;
		position: relative;
		cursor: pointer;
		transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;
	}
	.header-bgimg .main-navigation .toggle-button {
	    margin-top: 5px;
	}
	.nav-right-align .main-navigation .toggle-button {
	    float: right;
	}
	.main-navigation .toggle-button span {
		background: #333;
		width: 30px;
		margin: 0 auto;
		height: 5px;
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;
	}
	.main-navigation .toggle-button span.toggle-bar2 {
		top: 20px;
	}
	.main-navigation .toggle-button span.toggle-bar3 {
		top: 30px;
	}
	.menu-active .main-navigation .toggle-button span {
		height: 4px;
	}
	.menu-active .main-navigation .toggle-button span.toggle-bar1 {
		transform: rotate(135deg) translateY(-7px) translateX(7px);
		-webkit-transform: rotate(135deg) translateY(-7px) translateX(7px);
		-moz-transform: rotate(135deg) translateY(-7px) translateX(7px);
	}
	.menu-active .main-navigation .toggle-button span.toggle-bar2 {
		opacity: 0;
		visibility: hidden;
		transform: scale(0.2);
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
	}
	.menu-active .main-navigation .toggle-button span.toggle-bar3 {
		transform: rotate(-135deg) translateY(7px) translateX(7px);
		-webkit-transform: rotate(-135deg) translateY(7px) translateX(7px);
		-moz-transform: rotate(-135deg) translateY(7px) translateX(7px);
	}
	.main-navigation .magicofont {
		position: fixed;
		color: rgba(255,255,255,0.3);
		width: 30px;
		height: 30px;
		line-height: 25px;
		text-align: center;
		top: 40px;
		right: 50%;
		display: none;
		font-size: 24px;
		border: 2px solid rgba(255,255,255,0.3);
		border-radius: 100%;
		cursor: pointer;
		z-index: 999999;
		transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		visibility: visible;
	}
	.menu-active .main-navigation .magicofont {
		display: inline-block;
	}
	.main-navigation .magicofont:hover {
		color: rgba(255,255,255,0.5);
		border-color: rgba(255,255,255,0.5);
	}
	.main-navigation .nav-menu {
		position: fixed;
		background: #333;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 9999;
		padding-top: 80px;
		overflow-y: scroll;
		visibility: hidden;
		transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;
	}
	.menu-active .main-navigation .nav-menu {
		visibility: visible;
	}
	.main-navigation ul li {
		display: block;
		font-size: 15px;
	}
	.main-navigation ul li a {
		margin-right: 0;
		padding: 15px 20px;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		box-shadow: 0px 1px rgba(0,0,0,0.25);
	}
	
	.headertwo .main-navigation ul li a {
	    padding: 15px 20px;
	}

	.headertwo .main-navigation ul li a:hover, 
	.headertwo .main-navigation ul li.current-menu-item > a{
		color: #e8b701;
	}

	.main-navigation ul li a::before {
		display: none;
	}
	.main-navigation ul li.menu-item-has-children span.icofont,
	.main-navigation ul li.page_item_has_children span.icofont {
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		text-align: center;
		height: 58px;
		line-height: 58px;
		background: rgba(0,0,0,0.15);
		cursor: pointer;
		z-index: 999;
		transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;
	}

	.headertwo .main-navigation ul li.menu-item-has-children span.icofont, 
	.headertwo .main-navigation ul li.page_item_has_children span.icofont{
		height: 55px;
	}

	.headertwo .nav-menu li.menu-item-has-children > .icofont, 
	.headertwo .nav-menu li.page_item_has_children > .icofont {
	    top: 0;
	    right: 10px;
	}
	.nav-menu .sub-menu li.menu-item-has-children > .icofont,
	.nav-menu .sub-menu li.page_item_has_children > .icofont {
	    transform: none;
	    -webkit-transform: none;
	    -moz-transform: none;
	    top: 0;
	    right: 0;
	}
	.nav-right-align .main-navigation ul li.menu-item-has-children span.icofont,
	.nav-right-align .main-navigation ul li.page_item_has_children span.icofont {
	    right: inherit;
	    left: 0;
	}
	.main-navigation ul li.menu-item-has-children span.icofont:hover,
	.main-navigation ul li.page_item_has_children span.icofont:hover {
		background: rgba(0,0,0,0.4);
	}
	.main-navigation .sub-menu,
	.main-navigation .children {
		position: static;
		width: 100%;
		background: rgba(0,0,0,0.15);
		opacity: 1;
		visibility: visible;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
	}
	.main-navigation .sub-menu li a,
	.main-navigation .children li a {
		border-bottom-color: rgba(255,255,255,0.1);
	}
	.nav-wrap .sparkle-wrapper, .sticky-menu .sparkle-wrapper {
	    transform: none;
	    -webkit-transform: none;
	    -moz-transform: none;
	    position: static;
	}
	.main-navigation .nav-menu li.has-mega-menu .sub-menu {
	    position: static;
	}
	.has-mega-menu ul li .news-with-grid-block .news-title {
	    border-bottom: 1px solid #555;
	    color: #999;
	    padding-bottom: 5px;
	}
	body {
		overflow-x: hidden;
		transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;	
	}
	body.menu-active {
		visibility: hidden;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);	
	}

	/*======================================
	HOT NEWS SECTION
	=====================================*/
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-prev {
		left: -50px;
	}
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-next {
		right: -50px;
	}

	/*======================================
	BANNER SECTION
	======================================*/
	.banner-caption {
		bottom: 20px;
		left: 20px;
		width: 90%;
	}
	.caption-title {
		font-size: 16px;
	}
	.banner-caption .caption-date {
		font-size: 12px;
	}
	.banner-wrap > div#bx-pager a::before {
		border-width: 4px;
	}

	/*======================================
	ARCHIVE PAGE
	======================================*/
	.author-block figure .author-detail {
	    padding: 10px;
	    font-size: 16px;
	}

}

@media screen and (max-width: 800px) {
	.scroll-to-top {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 25px;
	}
	.has-mega-menu ul.sub-menu li {
	    width: 32.66%;
	}
	.sparkle-preloader img {
		width: 100%;
	}

	/*=======================================
	NEWS TICKER
	=======================================*/
	.news-ticker-title {
	    max-width: 45%;
	    font-size: 14px;
	    padding-left: 10px;
	}
	.news-ticker-title::after {
	    border-top-width: 2.3em;
	}
	.news-ticker .bx-wrapper {
	    width: 60%;
	}
	.news-ticker .bx-wrapper ul li a {
		line-height: 1;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
	}

	/*=====================================
	CONTENT SECTION
	=====================================*/
	.video-wrap .bx-wrapper {
		width: 55%;
	}
	.video-wrap > div#video-pager {
		width: 45%;
	}
	.video-list-group .caption-date, 
	.video-list-group .news-comment, 
	.video-list-group .news-share {
		display: none;
	}
	.footer-social-block {
		margin-right: 2%;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 31.33%;
		margin-bottom: 20px;
	}

	/*=====================================
	SIDEBAR SECTION
	=====================================*/
	.home-main-content {
		float: none;
		padding-right: 0%;
		width: 100%;
	}
	.home-left-side .home-main-content {
		float: none;
		padding-left: 0;
	}
	.home-right-sidebar, 
	.home-left-sidebar {
		float: none;
		width: 100%;
	}

	/*====================================
	FOOTER SECTION
	====================================*/
	.bottom-footer.column-4 .bottom-footer-block {
		width: 48%;
		margin-bottom: 40px;
	}
	.bottom-footer.column-4 .bottom-footer-block:nth-child(2n) {
		margin-right: 0;
	}
	.bottom-footer.column-4 .bottom-footer-block:nth-last-of-type(1), 
	.bottom-footer.column-4 .bottom-footer-block:nth-last-of-type(2) {
		margin-bottom: 0;
	}
	.bottom-footer.column-4 .bottom-footer-block:nth-child(2n+1) {
		clear: both;
	}

	/*======================================
	ARCHIVE PAGE
	======================================*/
	.author-block figure .author-detail {
	    padding: 20px;
	    font-size: 20px;
	}
	.home-no-side .author-block figure .author-detail {
	    padding: 10px;
	    font-size: 16px;
	}

}

@media screen and (max-width: 768px) {
	
	.header-bgimg .nav-wrap, .header-bgimg .bottom-header, .header-bgimg .top-header{
		overflow: hidden;
	}
	
	.bottom-header .site-logo {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 15px;
	}

	.bottom-header .header-ad-section {
	    width: 100%;
	}

	.section-title, .widget-title {
		font-size: 20px;
	}
	.scroll-to-top.show {
		bottom: 95px;
	}
	.has-mega-menu ul.sub-menu li {
	    width: 49.66%;
	}

	/*=================================
	BANNER SECTION
	=================================*/
	.banner-section.two-post-slider, 
	.banner-section.three-post-slider {
		margin-bottom: 50px;
	}
	.banner-caption {
		bottom: 10px;
		left: 10px;
	}
	/*.colorful-cat, .caption-date {
		display: none;
	}*/
	.caption-title {
		font-size: 14px;
		margin: 0;
	}

	/*=====================================
	CONTENT SECTION
	=====================================*/
	.news-content .news-title {
		line-height: 20px;
	}
	.news-comment {
		display: block;
		margin-left: 0;
	}
	.news-content-wrap .news-comment {
		display: inline-block;
	}
	.home-alt-list-block .news-comment {
		display: inline-block;
		margin-top: 5px;
	}

	/*====================================
	FOOTER SECTION
	====================================*/
	.copyright-footer {
		font-size: 13px;
	}

	/*===================================
	NEWS GRID LAYOUT
	===================================*/
	.home-no-side .archive-grid-wrap article {
		width: 48%;
	}
	.home-no-side .archive-grid-wrap article:nth-child(3n) {
		margin-right: 3%;
	}
	.home-no-side .archive-grid-wrap article:nth-child(2n) {
		margin-right: 0;
	}
	.home-no-side .archive-grid-wrap article:nth-child(3n+1) {
		clear: none;
	}
	.home-no-side .archive-grid-wrap article:nth-child(2n+1) {
		clear: both;
	}

	/*=======================================
	NEWS MASONRY VIEW
	=======================================*/
	.home-no-side .masonry-grid-layout .masonry-grid-item {
	    width: 50%;
	}

	/*======================================
	ARCHIVE PAGE
	======================================*/
	.home-no-side .author-wrap .author-block {
		width: 48%;
	}
	.home-no-side .author-wrap .author-block:nth-child(3n) {
		margin-right: 3%;
	}
	.home-no-side .author-wrap .author-block:nth-child(2n) {
		margin-right: 0;
	}
	.home-no-side .author-wrap .author-block:nth-child(3n+1) {
		clear: none;
	}
	.home-no-side .author-wrap .author-block:nth-child(2n+1){
		clear: both;
	}
	.home-no-side .author-block figure .author-detail {
	    padding: 20px;
	    font-size: 20px;
	}

}

@media screen and (max-width: 640px) {

	.fullwidthsection .emag_magazine_grid_posts .news-with-grid-block{
		width: 50%;
	}

	/*=======================================
	MULTI POST NO SLIDE
	=======================================*/
	.multi-post-no-slide .large-ban-news, 
	.multi-post-no-slide .small-ban-news {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
	.multi-post-no-slide .small-ban-news {
		margin-bottom: 5px;
	}
	.no-slide-ban-content .caption-title {
	    font-size: 20px;
	    margin-bottom: 0;
	}

	/*====================================
	MULTI POST WITH SLIDER
	====================================*/
	.multi-post-slider-left, 
	.multi-post-slider-right {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
	.multi-post-slider-small {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 5px;
	}
	.multi-post-with-slider .slider-caption {
	    padding: 80px 20px 20px 20px; /*40px 10px 10px 10px;*/
	}
	.slider-caption .caption-title {
	    font-size: 21px;
	    margin-bottom: 0;
	}

	/*====================================
	HOT NEWS SECTION
	====================================*/
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-prev {
		left: -50px;
	}
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-next {
		right: -50px;
	}
	.page-header .page-title {
		font-size: 25px;
	}

	/*=====================================
	CONTENT SECTION
	=====================================*/
	.news-block.first-large,
	.news-first-large-list .large-with-small-list {
		float: none;
		padding-right: 0;
		width: 100%;
		margin-bottom: 10px;
	}
	.news-first-large-list .large-with-small-list .news-block:last-child{
		margin: 0;
	}
	.large-with-small-list {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.news-comment {
		display: inline-block;
		margin-left: 20px;
	}
	.news-with-grid-block {
		width: 49%;
	}
	.news-with-grid-block:nth-child(3n) {
		margin-right: 2%;
	}
	.news-with-grid-block:nth-child(2n) {
		margin-right: 0;
	}
	.news-first-large-list .news-block.first-large > figure {
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.news-first-large-list .news-block.first-large .news-content {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.news-first-large-list .large-with-small-list .news-block {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.video-wrap .bx-wrapper {
		float: none;
		padding-right: 0;
		margin-bottom: 30px;
		width: 100%;
	}
	.video-wrap > div#video-pager {
		float: none;
		width: 100%;
	}
	.home-alt-list-block > figure {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.home-alt-list-block:nth-child(2n) > figure {
		float: none;
	}
	.home-alt-list-view .news-content {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.home-alt-list-block:nth-child(2n) .news-content {
		padding-right: 0;
		text-align: left;
	}
	.home-alt-list-block:nth-child(2n) .news-share {
		float: right;
	}
	.home-alt-list-block:nth-child(2n) .news-social-icons {
		left: inherit;
		right: 30px;
	}
	.home-alt-list-block:nth-child(2n) .news-social-icons.news-social-active {
		left: inherit;
		right: 10px;
	}
	.home-alt-list-block:nth-child(2n) .news-social-icons::before, 
	.home-alt-list-block:nth-child(2n) .news-social-icons::after {
		left: inherit;
		right: 20px;
		transform: skewX(45deg);
		-webkit-transform: skewX(45deg);
		-moz-transform: skewX(45deg);
	}
	.news-social-icons {
		width: 240px;
	}
	.news-social-icons a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.news-social-icons a.google-plus {
		font-size: 19px;
	}
	.widget-video .popup-video-wrap-inner {
		width: 90vw;
		height: 35vh;
	}
	.footer-social-block {
		width: 48%;
	}
	.news-tab-section .section-title .news-tab-group {
		position: static;
	}
	.news-tab-wrap .news-with-grid-block:nth-child(3n+1) {
		clear: none;
	}
	.news-tab-section > .news-tab-group > li {
	    padding: 7px 10px;
	    font-size: 14px;
	}

	/*====================================
	FOOTER SECTION
	====================================*/
	.copyright-footer {
		text-align: center;
		font-size: 16px;
	}
	.copyright-block {
		display: block;
		width: 100%;
	}
	.theme-author-block {
		display: block;
		text-align: center;
		width: 100%;
		margin-top: 5px;
	}

	/*====================================
	CONTACT PAGE
	====================================*/
	.contact-info-block {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	    border-right: none;
	    margin-bottom: 20px;
	}
	.contact-info-block:last-child {
		margin-bottom: 0;
	}

	/*====================================
	SINGLE PAGE
	===================================*/
	.post-navigation .nav-previous, 
	.post-navigation .nav-next {
	    float: none;
	    width: 100%;
	    margin-top: 10px;
	    background: #eee;
	    padding: 5px;
	}
	.feat-bgimg .page-header {
	    width: 100%;
	    position: static;
	    margin-bottom: 30px;
	}
	.single.feat-bgimg .page-header .page-title {
	    color: #333;
	    font-size: 35px;
	}
	.single.feat-bgimg .entry-meta span {
	    color: #777;
	}
	.page-header.has-bgimg .page-title {
		font-size: 30px;
	}

	/*======================================
	ARCHIVE PAGE
	======================================*/
	.author-block figure .author-detail {
	    padding: 10px;
	    font-size: 16px;
	}

	/*=======================================
	AUTHOR ARCHIVE PAGE
	=======================================*/
	.home-alt-list-wrap .news-content-wrap {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	}
	.home-alt-list-wrap article:nth-child(2n) .news-content-wrap {
	    padding-right: 0;
	    text-align: left;
	}

	/*======================================
	SUBMIT NEWS PAGE
	======================================*/
	.submit-news-form p.halfwidth {
	    width: 100%;
	    padding-right: 0;
	}
	.submit-news-form p {
	    width: 100%;
	}

}

@media screen and (max-width: 540px) {
	/*=======================================
	MULTI POST NO SLIDE
	=======================================*/
	.no-slide-ban-content .caption-title {
	    font-size: 16px;
	    margin-bottom: 0;
	}

	.news-with-grid-block > figure img{
		width: 100%;
	}

	.fullwidthsection .emag_magazine_grid_posts .news-with-grid-block{
		width: 100%;
	}

	/*=======================================
	MULTI POST WITH SLIDER
	=======================================*/
	.multi-post-with-slider .slider-caption {
	    padding: 40px 10px 10px 10px;
	}
	.slider-caption .caption-title {
	    font-size: 16px;
	    margin-bottom: 0;
	}

	/*=======================================
	TOP HEADER
	======================================*/
	.top-nav {
		float: none;
		width: 100%;
		position: relative;
		padding-top: 10px;
	}
	.top-right {
		float: none;
		width: 100%;
	}
	.top-right .date-time::after{
		content: '';
	}	

	/*==================================
	BOTTOM HEADER
	==================================*/
	.bottom-header .site-logo {
		width: 100%;
	}
	.bottom-header .header-ad-section {
		display: block;
		width: 100%;
		padding-left: 0;
		margin-top: 10px;
	}
	.nav-wrap .main-navigation {
		width: 60%;
	}
	.nav-wrap .nav-icon-wrap {
		width: 40%;
	}
	.search-form-wrap {
		width: 310px;
		right: -10px;
	}
	.has-mega-menu ul.sub-menu li {
	    width: 100%;
	}

	/*=====================================
	HOT NEWS SECTION
	=====================================*/
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-prev {
		left: 0;
	}
	.hot-news-slider .bx-wrapper .bx-controls-direction a.bx-next {
		right: 0;
	}

	/*=================================
	BANNER SECTION
	=================================*/
	.banner-wrap {
		float: none;
		width: 100%;
		padding-right: 0;
		/*margin-bottom: 40px;*/
	}
	.banner-side-ad {
		float: none;
		width: 100%;
	}

	/*=====================================
	CONTENT SECTION
	=====================================*/
	.news-comment {
		margin-left: 0;
		display: block;
	}
	.news-tab-group {
		position: static;
	}
	.footer-social-block {
		float: none;
		margin-right: 0;
		border-right: none;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.news-tab-group > li:first-child {
	    margin-left: 0;
	}
	.news-tab-section .section-title:after {
		display: none;
	}
	.news-with-grid-block {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.news-with-grid-block .news-comment {
	    display: inline-block;
	    margin-left: 20px;
	}

	/*====================================
	FOOTER SECTION
	====================================*/
	.bottom-footer .bottom-footer-block {
		float: none;
		margin-right: 0;
	}
	.bottom-footer.column-4 .bottom-footer-block {
		width: 100%;
	}
	.bottom-footer.column-4 .bottom-footer-block:nth-last-of-type(2) {
		margin-bottom: 40px;
	}
	.bottom-footer.column-4 .bottom-footer-block:last-child {
		margin-bottom: 0;
	}
	.copyright-footer {
		font-size: 13px;
	}

	/*================================
	SEARCH PAGE
	================================*/
	.search-no-results .no-results .search-field {
		width: 75%;
	}
	.search-no-results .no-results .search-submit {
		width: 25%;
	}

	/*===================================
	ERROR 404 PAGE
	===================================*/
	.error-404-text h1 {
	    font-size: 5em;
	    margin: 30px 0;
	}
	.error-404-text h1::after {
		left: -20px;
	}

	/*===================================
	SINGLE PAGE
	===================================*/
	.sparkle-author-box .sparkle-author-image {
	    float: none;
	    margin-bottom: 20px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.sparkle-author-box .sparkle-author-details {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	    text-align: center;
	}
	.sparkle-gallery-lightbox a {
	    width: 48%;
	}
	.sparkle-gallery-lightbox a:nth-child(3n) {
		margin-right: 2%;
	}
	.sparkle-gallery-lightbox a:nth-child(2n) {
	    margin-right: 0;
	}

	/*===================================
	COMMENT SECTION
	===================================*/
	.comments-title {
		font-size: 20px;
	}
	.comment-respond {
		padding: 20px;
	}
	.comment-reply-title a {
		font-size: 13px;
		padding: 5px 10px;
	}

	/*===================================
	GRID LAYOUT
	===================================*/
	.home-right-side .archive-grid-wrap article, 
	.home-left-side .archive-grid-wrap article, 
	.home-no-side .archive-grid-wrap article {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
	.news-content-wrap .news-comment {
	    display: inline-block;
	}
	.pagination-wrap a {
	    padding-left: 8px;
	    padding-right: 8px;
	    height: 25px;
	    line-height: 25px;
	    font-size: 14px;
	}
	.pagination-wrap a.prev, 
	.pagination-wrap a.next {
	    padding-left: 8px;
	    padding-right: 8px;
	}
	.pagination-wrap a:hover, 
	.pagination-wrap span.active {
		height: 25px;
		line-height: 25px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/*===================================
	NEWS LIST VIEW
	===================================*/
	.archive-list-wrap article {
	    border-bottom: 2px solid #eee;
	    padding-bottom: 30px;
	}
	.archive-list-wrap figure {
	    float: none;
	    width: 100%;
	    margin-bottom: 30px;
	}
	.archive-list-wrap .news-content-wrap {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	}

	/*=======================================
	NEWS MASONRY VIEW
	=======================================*/
	.home-right-side .masonry-grid-layout .masonry-grid-item, 
	.home-left-side .masonry-grid-layout .masonry-grid-item, 
	.home-no-side .masonry-grid-layout .masonry-grid-item {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}

	/*======================================
	AUTHOR PAGE
	======================================*/
	.author-wrap .author-block {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
	.home-no-side .author-wrap .author-block {
		width: 100%;
	}
	.author-block figure .author-detail {
	    padding: 20px;
	    font-size: 20px;
	}

	/*====================================
	AUTHOR ARCHIVE PAGE
	====================================*/
	.author-info figure {
	    float: none;
	    margin: 0 auto 20px;
	}
	.author-info .author-info-content {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	    text-align: center;
	}

}

@media screen and (max-width: 460px){
	.top-right .date-time {
	    margin-bottom: 15px;
	}
}